html, body {
      height: 100vh;
      margin: 0;
      width: 10vh;
      background-color: #ffffff;
}

#upper-header{
    width: 100vw;
       background: linear-gradient(to right, #FD7F2C, #FDB777); /* Horizontal gradient */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      color: transparent; 
      flex-direction: row;
      display: flex; 
}

#upper-header p{
    padding-left: 25vh;
}

.hr{
    width: 100vw;
}
.search{
  display: flex;
  justify-content: space-between;
  padding: 3vh 10vw;
  border-width: 20px;
  align-items: center;
  color: black;
  flex-wrap: wrap;
}





 #carousels{
        width: 80vw;
        background-color: white;
        color: rgb(0, 6, 0);
        overflow-x: auto;
        padding-left: 10vw;
        padding-right: 10vw;
    }

   .carousel {
      display: flex;
      overflow-x: auto;
      height: 50vh;
      gap: 1vw;
      padding: 1vh;
      /* background: rgb(234, 233, 233); */
      border-radius: 10px;
      scroll-behavior: smooth;
    }

    .carousel::-webkit-scrollbar {
         padding-left: 25vh;
      height: 8px;
    }

    .carousel::-webkit-scrollbar-thumb {
         padding-left: 25vh;
      background: #ccc;
      border-radius: 4px;
    }

    .carousel-item {
      /* height: inherit; */
      min-width: 300px;
      flex-shrink: 0;
      /* background: #d80404; */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      overflow: hidden;
      text-align: center;
    }

    .carousel-item img {
          height: 30vh;
        max-width: inherit;
      /* height: auto; */
      display: block;
    }

    .carousel-item h3 {
      margin: 2vh 0;
      color: black;
    }

    .carousel-item h4 {
      margin: 2vh 0;
      color: black;
    }

    .carousel-item a {
      display: inline-block;
      padding: 1vh 1vw;
      margin-bottom: 10px;
      background: #007BFF;
      color: rgb(235, 153, 3);
      text-decoration: none;
      border-radius: 5px;
    }

    .carousel-item a:hover {
      background: #0056b3;
    }
   















