body {
    /* background-color: white; */
}

#canvas1{
    width: 600px;
    height: 600px;
    top: 50%;
    width: 50%;
    transform: translate(50%,-50%);
    border: 2px solid black;
    position: absolute;
}